.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--dark-purple);
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: var(--vibrant-purple);
}

.delete-btn {
    background-color: var(--very-dark-purple);
    padding: 8px 12px;
    border: 2px solid var(--vibrant-purple);
}

.icon {
    pointer-events: none;
}